<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date Of Birth</th>
      <th scope="col">Occupation</th>
        <th scope="col">religion</th>
       <th scope="col">city</th>
        <th scope="col">gender</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>{{name}}</td>
      <td>{{ dob }}</td>
      <td>{{ occupation }}</td>
        <td>{{ religion }}</td>
        <td>{{ city }}</td>
        <td>{{ gender }}</td>
    </tr>
  </tbody>
</table>
</body>
</html>